{% extends 'app1/base.html' %}

{% block title %}
 Sign up||
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1 class="my-4">Sign-in</h1>
        </div>
    </div>
<div class="container my-5">
<div class="row justify-content-center">
<div class="col-md-4">
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text"  class="form-control form-control-sm"  name="username"  placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control form-control-sm" name="password1" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control form-control-sm" name="password1" id="exampleInputPassword1">
      </div>
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <p>{{ error|escape }}</p>
          {% endfor %}
      {% endfor %}
  {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>
</div>


{% endblock %}